body{
    margin:0;
    padding:0;
    width:100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow-x: hidden;
  
}
ul{
    list-style-type:none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/* navigation bar */
.header{
    width:100vw;
    height:15vh;
    display: flex;
    flex-direction: column;

}

.nav-contact{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.contact-left{
    background-color: #ffffff;
    width: 30%;
    /* transform: skew(-45deg); */
}
.contact-middle{
    background-color: #093361;
    color: #ffffff;
    font-size: 0.9rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding:0 1.5rem;
    

}

.contact-middle i{
    color: #ff0000;
    padding-right:0.9rem; 
}
.contact-middle span{
    color: #ffffff;
    padding-left:0.2rem;
}

.contact-right{
    background-color: #da1e1e;
    width: 20%;
    color: #ffffff;
  
}
.nav-menu{
    display: flex;
    flex-direction: row;
}

.nav-menu-left{
    width: 29%;
    background-color: #093361;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav-menu-left .fade{
    width: 45%;
    height: 30%;
    background: rgb(9,51,97);
    background: linear-gradient(90deg, rgba(9,51,97,1) 19%, rgba(255,0,0,0.8155637254901961) 100%);

}
.nav-menu-left .logo{
    font-size: 1.6rem;
    border: 2px solid #ffffff;
    border-radius: 20%;
    color: #ffffff;
   
}
.nav-menu-left select{
    padding:0.5rem 0.6rem;
    outline: none;
    font-size: 1rem;
}

.nav-menu-right{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    
}
.nav-menu-right h5{
    border: 2px solid rgb(136, 144, 252);
    padding:0.3rem 2rem;
    color: rgb(139, 151, 255);
}


/* Hero section */
#hero{
    width: 100vw;
    margin-top:50px;
    background: rgb(11,36,48);
    background: linear-gradient(90deg, rgba(11,36,48,0.8827906162464986) 20%, rgba(31,68,87,0.6474964985994398) 81%, rgba(11,36,48,1) 100%);
    display:flex;
    align-items: center;
    justify-content: center;
}

.hero-details{
   
    display: flex;
    
    flex-direction: row;
    justify-content: space-evenly;
}
.btn-left i {
    
    color: #fff;
    font-size: 10rem;
   
}
.car-preview{
    /* width: 90%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.car-description{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    /* justify-content: space-between; */
}
.car-description h2{
    color: #ffffff;
    font-weight: 300;

}
.car-description .car-name{
    background-color:  #da1e1e;
    color: #fff;
    padding: 10px;
}
.car-description button{
    background-color: #da1e1e;
    padding: 10px 50px;
    margin-top: 30px;
    border: 0;
    color: #fff;
}
.car-mini-desc{
    color: #ffffff;
    font-size:0.9rem;
}
.car-image img{
   padding:10px 0px 0px 40px;
    width: 550px;
    height: 400px;
}

/* Menu */
main{
    width:100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 40px;
    
}


.menu{
    display: grid;
    width: 70%;

   
    grid-template-columns: repeat(5, 1fr);
    background-color: #06274bfa;
}

.menu-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;  
  height: 100%;
}
.menu-item:nth-child(odd){
    background-color: #132233;
}
.menu-item:hover {
    background-color: rgb(212, 212, 212);
   
    cursor: pointer;
}
.menu-item:hover i ,.menu-item:hover p {
    
    color: #da1e1e;
    cursor: pointer;
}
.menu-item i{
    padding-top: 2px;
    font-size: 1.5rem;
    color: #fff;
}

.menu-item p{
    font-size: 0.7rem;
    color: #fff;
}
/* Sort bar */
.sort-bar{
    width: 70%;
    padding:10px 5px ;
    margin-top: 30px;
    background-color: rgb(8, 41, 77);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sort-bar-left{
    margin-left: 10px;
}
.sort-bar-left label{
    font-size: 0.7rem;
    color: #fff;
}
.sort-bar-left select{
    margin-left: 5px;
    background-color:rgb(8, 41, 77) ;
    outline: 0;
    border: none;
    font-size: 0.6rem;
    color: rgb(218, 59, 59);
    border-bottom: 2px rgb(218, 59, 59) dotted;
    cursor: pointer;
}

.sort-bar-right{
    margin-right:30px;

}
.sort-bar-right button{
    background-color: rgb(8, 41, 77);
    
    padding:5px;
    border:1px solid #fff;
    color: #fff;
   
}
.sort-bar-right button i{
     color: rgb(218, 59, 59); 
}

/* Main  display */
.main-display {
    width: 70%;
    margin-top: 20px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      
      "filterArea carArea"
      "footer  footer";
  }
  /* Car display */

.car-display {
    grid-area: carArea;
    /* background-color: #20bf6b; */
    padding-left: 10px;
    
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);

    align-items: center;
  }
.card{
    background-color: rgba(255, 255, 255, 0.849);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
  

}
.card:nth-child(2),.card:nth-child(5),.card:nth-child(8) {
    background-color: rgb(255, 255, 255);
    box-shadow: 7px 22px 28px 3px rgba(0,0,0,0.75);
}
.card-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .car-image img{
    width: 150px;
    height: 90px;
}

.car-info .car-name{
    font-weight: bold;

}
.fa-star{
    font-size: 0.7rem;
    color: #da1e1e;
}
.star-price{
    color: rgb(112, 111, 109);
}
.star-price span{
    color: #da1e1e;
    font-weight: bold;
}

.action{
   
    display: flex;
    flex-direction: row;
    

}
.action button{
    padding: 5px 15px;
    color: white;
  
    border: 0;
}
.action .right{
    background-color: #da1e1e;
}
.action .left{
    background-color: rgb(94, 91, 91);
}
/* pagination */

.pagination {
    display: inline-block;
    margin: 15px 0 15px 0;
  }
  
  .pagination a {
    color: #fff;
    background-color: #bbcde0;
    float: left;
    margin-left:5px;
    padding: 8px 16px;
    text-decoration: none;
  }
  .pagination .arrow{
      background-color: #082442;
  }
  
  .pagination a.active {
    background-color: #af0a0a;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}


 .filter {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-area: filterArea;
    
  }
  .filter-card{
      width: 100%;
      display: flex;
      flex-direction: column;

  }
  .filter-card .title{
      background-color: rgb(8, 41, 77);
  }
  .filter-card .title p{
      color: #fff;
      text-align: center;
  }
  .filter-card .title span{
      color: rgba(255,0,0,0.8155637254901961);
  }

.filter-card form{
    padding:10px;
    background-color: rgb(200, 212, 214);
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: space-evenly; */
}
.filter-card form .form-input{
    padding:10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.filter-card form .form-input label{
    color:black;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding-bottom: 5px;
}
.filter-card form .form-input select{
    padding: 10px;
    
    outline: none;
    background-color: cornsilk;
}

.price-range{
    background-color: #093361;
    color: white;
    padding:10px 0 20px 10px;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.middle {
	position: relative;
	width: 100%;
	
}

.slider {
	position: relative;
	z-index: 1;
	height: 4px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #9c9c9c;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #da1e1e;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 10px;
	height: 10px;
	background-color: #da1e1e;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 28%;
	transform: translate(-15px, -3px);
}
.slider > .thumb.right {
	right: 28%;
	transform: translate(15px, -3px);
}

input[type=range] {
	position: absolute;
	cursor: pointer;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}

.range-labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.range-labels span{
    color: #da1e1e;
    padding:3px 3px 0 0;
    font-size: 0.8rem;
    font-weight: 500;
}

.ad {
    margin-top:5px;
    width: 100%;
    background-color: #093361;
   
}

.ad-title{
    background-color: #093361;
    padding: 2px;
    text-align: center;
    font-weight: 900;
    color: #fff;
}
.ad-image img{
    width: 100%;
    height: 150px;
    
}
.ad-price{
    position: relative;
    left: 50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #da1e1e;
    color: #ffffff;
    padding: 5px;
    width: 60%;
} 
 .ad-details button{
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    
}
.ad-description{
    background-color: #093361;
    padding-left:30px ;
    
    text-align: justify;
}
.ad-description p{
    color: rgb(179, 175, 175);
    font-size: 0.8rem;
}
.ad-description button{
    background-color: #da1e1e;
    color: #fff;
    padding: 15px 10px;
    margin-bottom: 6px;
    border: 0;
    width: 80%;
    font-size: 0.6rem;
    font-weight: 200;
}

footer {
    padding: 20px;
    grid-area: footer;
    background-color: #20344eee;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
  }

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.footer-left h2,.footer-left p{
    color: #fff;
    font-size: 0.9rem;
}
.footer-left h6{
    font-size: 0.8rem;
    color: #fff;
}
.footer-left form{
    display: flex;
    flex-direction: row;
}
.footer-left form input{
    padding: 10px;
    outline: 0;
}
.footer-left form button{
    padding: 10px;
    background-color: #da1e1e;
    border: 2px solid transparent;
    color: #fff;
    font-size: 1.3rem;
    font-weight:900;
}

.footer-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer-middle h1{
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
}
.footer-middle h1 span{
    color: #da1e1e;
    font-weight: bold;

}
.footer-nav{
    display: flex;
    flex-direction: row;
    
    
}
.footer-nav .footer-nav-left ul,.footer-nav .footer-nav-right ul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}
.footer-nav-left a,.footer-nav-right a{
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
}
.contact-us{
    border: 1px solid white;
    color: #fff;
    padding:1px 50px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    
}
.footer-right h1{
    color: #fff;
    font-size: 0.8rem;
}
.footer-right h1 span{
    color: #da1e1e;
    font-weight: bold;
}
.footer-blog{
    display: flex;
    flex-direction: column;
    

}
.blog{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}
.blog-title{
    color: #da1e1e;
    font-size: 0.8rem;
}
.blog-image img{
    width: 40px;
    height: 40px;
    margin-right:5px;
}